@model MakeupShop.ViewModels.BrandTitleViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
}


<section class="carousel" aria-label="Gallery">
    <ol class="carousel__viewport">

        <li id="carousel__slide1"
            tabindex="0"
            class="carousel__slide">

            <button class="carousel-btn" asp-action="Details" asp-route-id="12">

                <span> <a asp-action="Details" asp-route-id="9" style="color:black"><p>BUY NOW</p></a> </span>
            </button>

            <img src="/images/bcg-img-car-3.jpg" alt="">


            <div class="carousel__snapper">

                <a href="#carousel__slide4"
                   class="carousel__prev">Go to last slide</a>
                <a href="#carousel__slide2"
                   class="carousel__next">Go to next slide</a>
            </div>



        </li>


        <li id="carousel__slide2"
            tabindex="0"
            class="carousel__slide">


            <button class="carousel-btn" asp-action="Details" asp-route-id="11">

                <span> <a asp-action="Details" asp-route-id="7" style="color:black"><p>EXPLORE</p></a> </span>
            </button>


            <img src="/images/bcg-img-car-12.jpg" alt="">

            <div class="carousel__snapper"></div>
            <a href="#carousel__slide1"
               class="carousel__prev">Go to previous slide</a>
            <a href="#carousel__slide3"
               class="carousel__next">Go to next slide</a>
        </li>


        <li id="carousel__slide3"
            tabindex="0"
            class="carousel__slide">


            <button class="carousel-btn" asp-action="Details" asp-route-id="10">

                <span> <a asp-action="Details" asp-route-id="8" style="color:black"><p>TRY IT!</p></a> </span>
            </button>


            <img src="/images/bcg-img-car-2.jpg" alt="">

            <div class="carousel__snapper"></div>
            <a href="#carousel__slide2"
               class="carousel__prev">Go to previous slide</a>
            <a href="#carousel__slide4"
               class="carousel__next">Go to next slide</a>
        </li>


        <li id="carousel__slide4"
            tabindex="0"
            class="carousel__slide">

            <video autoplay controls="controls">

                <source src="/images/bcg-vid-3.mp4" type="video/mp4" />

            </video>

            <div class="carousel__snapper"></div>
            <a href="#carousel__slide3"
               class="carousel__prev">Go to previous slide</a>
            <a href="#carousel__slide1"
               class="carousel__next">Go to first slide</a>
        </li>


    </ol>
    <aside class="carousel__navigation">
        <ol class="carousel__navigation-list">
            <li class="carousel__navigation-item">
                <a href="#carousel__slide1"
                   class="carousel__navigation-button">
                    Go to slide 1

                </a>
            </li>
            <li class="carousel__navigation-item">
                <a href="#carousel__slide2"
                   class="carousel__navigation-button">Go to slide 2</a>
            </li>
            <li class="carousel__navigation-item">
                <a href="#carousel__slide3"
                   class="carousel__navigation-button">Go to slide 3</a>
            </li>
            <li class="carousel__navigation-item">
                <a href="#carousel__slide4"
                   class="carousel__navigation-button">Go to slide 4</a>
            </li>
        </ol>
    </aside>
</section>

<style>
    @@keyframes tonext {
        75% {
            left: 0;
        }

        95% {
            left: 100%;
        }

        98% {
            left: 100%;
        }

        99% {
            left: 0;
        }
    }

    @@keyframes tostart {
        75% {
            left: 0;
        }

        95% {
            left: -300%;
        }

        98% {
            left: -300%;
        }

        99% {
            left: 0;
        }
    }

    @@keyframes snap {
        96% {
            scroll-snap-align: center;
        }

        97% {
            scroll-snap-align: none;
        }

        99% {
            scroll-snap-align: none;
        }

        100% {
            scroll-snap-align: center;
        }
    }

    body {
        background-image: url('images/background-1.jpg');
        background-color: rgba(255, 255, 255, 0.6);
        background-blend-mode: lighten;
        background-repeat: repeat;
        background-attachment: fixed;
    }



    * {
        box-sizing: border-box;
        scrollbar-color: transparent transparent; /* thumb and track color */
        scrollbar-width: 0px;
    }

        *::-webkit-scrollbar {
            width: 0;
        }

        *::-webkit-scrollbar-track {
            background: transparent;
        }

        *::-webkit-scrollbar-thumb {
            background: transparent;
            border: none;
        }

    * {
        -ms-overflow-style: none;
    }

    ol, li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .carousel {
        position: relative;
        padding-top: 45%;
        filter: drop-shadow(0 0 10px #0003);
        perspective: 100px;
        width: 100%;
        height: 50%;
    }

    .carousel__viewport {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        overflow-x: scroll;
        counter-reset: item;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
    }

    .carousel__slide {
        position: relative;
        display: flex;
        flex: 0 0 100%;
        background-color: #f99;
        <!-- counter-increment: item; -->
    }

    img {
        align-content: center;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        z-index: 1;
    }

    video {
        align-content: center;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        z-index: 5;
    }

    .carousel-btn {
        z-index: 10;
        text-align: center;
        height: 15%;
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-50%, -50%);
        color: white;
        text-decoration: none !important;
        font-size: 25px;
        border: 1px solid;
        background: none;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        opacity: 80%;
        background-color: rgba(255,255,255,0.3);
    }

        .carousel-btn::before {
            margin-left: auto;
        }

        .carousel-btn::after, .carousel-btn::before {
            content: '';
            width: 0%;
            height: 2px;
            background: #f44336;
            display: block;
            transition: 0.5s;
        }

        .carousel-btn:hover::after, .carousel-btn:hover::before {
            width: 100%;
        }

    .carousel__slide:nth-child(even) {
        background-color: #99f;
    }

    .carousel__slide:before {
        content: counter(item);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-40%,70px);
        color: #fff;
        font-size: 2em;
    }

    .carousel__snapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        scroll-snap-align: center;
        z-index: 2;
    }

    @@media (hover: hover) {
        .carousel__snapper {
            animation-name: tonext, snap;
            animation-timing-function: ease;
            animation-duration: 4s;
            animation-iteration-count: infinite;
        }

        .carousel__slide:last-child .carousel__snapper {
            animation-name: tostart, snap;
        }
    }

    @@media (prefers-reduced-motion: reduce) {
        .carousel__snapper {
            animation-name: none;
        }
    }

    .carousel:hover .carousel__snapper,
    .carousel:focus-within .carousel__snapper {
        animation-name: none;
    }

    .carousel__navigation {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        z-index: 10;
    }

    .carousel__navigation-list,
    .carousel__navigation-item {
        display: inline-block;
    }

    .carousel__navigation-button {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        background-color: #333;
        background-clip: content-box;
        border: 0.25rem solid transparent;
        border-radius: 50%;
        font-size: 0;
        transition: transform 0.1s;
        z-index: 10;
    }

    .carousel::before,
    .carousel::after,
    .carousel__prev,
    .carousel__next {
        position: absolute;
        top: 0;
        margin-top: 22%;
        width: 4rem;
        height: 4rem;
        transform: translateY(-50%);
        border-radius: 50%;
        font-size: 0;
        outline: 0;
        z-index: 10;
    }

    .carousel::before,
    .carousel__prev {
        left: -1rem;
        z-index: 10;
    }

    .carousel::after,
    .carousel__next {
        right: -1rem;
        z-index: 10;
    }

    .carousel::before,
    .carousel::after {
        content: '';
        z-index: 1;
        background-color: #333;
        background-size: 1.5rem 1.5rem;
        background-repeat: no-repeat;
        background-position: center center;
        color: #fff;
        font-size: 2.5rem;
        line-height: 4rem;
        text-align: center;
        pointer-events: none;
        z-index: 10;
    }

    .carousel::before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
    }

    .carousel::after {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
    }
</style>

<script>



</script>
<!---->


<form asp-controller="Brands" asp-action="Index" method="get">
    <p>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
            <input type="text" asp-for="SearchString" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            <input type="submit" class="btn btn-outline-dark" value="Seach" />
        </div>

       
    </p>
</form>

<div class="text-white ">
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <a asp-controller="Brands" asp-action="Create" class="btn btn-outline-dark">
            <i class="bi bi-plus-circle"></i> Add New
        </a>
    }
    
</div>
<br />

<div class="row">
    @foreach (var item in Model.Brands)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 520px;">
                <img class="card-img-top" src="~/images/@item.Image"
                     width="210px" height="300px"
                 asp-append-version="true">

                 <div class="card-body">
                    <a class="card-title brand" asp-action="ShowMakeup" asp-route-id="@item.Id">@item.Name</a>
                    <textarea rows="5" class="txtarea" style="width: 100%;">@item.Description</textarea>

                    @{
                        DateTime dateTime = item.ReleaseDate;
                        string dateOnly = dateTime.ToString("dd-MM-yyyy");
                    }
                    <p class="card-text"><b>Release Date: </b>@dateOnly</p>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <p class="card-text">


                            @if (item.CatalogDownloadUrl == null)
                            {
                                <a class="btn btn-outline-dark float-end" asp-action="Upload" asp-route-id="@item.Id"><i class="bi bi-upload"></i> Upload Catalog</a>
                            }
                            <a class="btn btn-outline-dark" asp-controller="Brands" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i> Edit</a>




                        </p>
                    }
                    
                    <a class="btn btn-outline-dark" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye-fill"></i> Show Details</a>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a class="btn btn-danger text-white float-end" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i> Delete </a>
                    }
                    
                 </div>
            </div>
        </div>
    }
</div>
